<%= form_for :session, :url => login_path do |f| %>
	<div class="field">
		<%= f.text_field :username, :placeholder => "Användarnamn" %>
	</div>
	<div class="field">
		<%= f.password_field :password, :placeholder => "Lösenord" %>
	</div>
	<div class="actions">
		<%= f.submit "Logga in" %>
	</div>
<% end %>