<div class="row">
	<div class="span8">

	</div>
	<div class="span4">
		<h2>Completed workouts</h2>
		<% @workouts.each do |workout| %>
			<p>
				<%= workout.description %>
				-
				<%= link_to workout.workout_date, workout %>
			</p>
		<% end -%>
	</div>
</div>