<div class="row">
  <span class="span8">
    <h3>Team 4 The Pig!</h3>
    <p>Den ultimata fitnesstävlingen 2012.</p>
  </span>
  <span class="span4">
    <h3>Logga in</h3>
    <%= render "session/form" %>
  </span>
</div>