<div class="row">
  <span class="span8">
    <h3>Team 4 the pig!</h3>
    <p>Ut cursus amet vitae officia erat. Lectus ut at facilisi. Rhoncus lorem facilisis. Egestas sociis vulputate quam facilisi aliquam.</p>
    
    <p>Etiam mollit aliquip facilisis. Posuere consectetur turpis accumsan ultrices. Aliquam gravida mollis.</p>
  </span>
  <span class="span4">
    <h3>Sign in</h3>
    <%= render "session/form" %>
  </span>
</div>