/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require bootstrap-datepicker
 *= require_self
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.clear {
  clear: both
}

#notice,
.box {
  width: 250px;
  padding: 10px;
  margin: 0 auto;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.box {
  border: 1px solid #eaeaea;
}

.list {
  border: 1px solid #eaeaea;
  margin-top: -10px;
  padding-top: 10px;
}

.list p {
  padding: 0px 5px;
}

h4 {
  background-color: #1B1B1B;
  background-image: -moz-linear-gradient(top,#222,#111);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
  background-image: -webkit-linear-gradient(top,#222,#111);
  background-image: -o-linear-gradient(top,#222,#111);
  background-image: linear-gradient(to bottom,#222,#111);
  background-repeat: repeat-x;
  border: 1px #252525 solid;
  color: #999;
  padding: 5px;
  font-weight: 300
}

.table.ach th, 
.table.ach td {
  border: 0px
}

.meta {
  background: #eaeaea;
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0;
}

.meta a {
  color: black;
}