<% if notice %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">x</a>
    <%= notice %>
  </div>
<% end %>

<h3>Achievement</h3>
<div class="row">
  <%= form_for(:achievement, :url => achievements_path) do |f| %>
    <div class="span4">
      <%= collection_select(:achievement, :id, @achievements, :id, :name, {:prompt => true}) %>
      <div id="formTmpl"></div>
    </div>
    <div class="span8">
  </div>
  <% end %>
</div>

<% @achievements.each do |a| %>
  <%= hidden_field :"#{a.id}", :"#{a.uid}", :"data-id" => a.id, :"data-single" => a.is_single_point, :"data-name" => a.uid %>
<% end %>